@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:bebas;
  src: url('../public/font/BebasNeue-Regular.woff');
}

body{
  background-color: #000500;
  font-family: 'lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}